# Hello World

In [ ]:
print ("Hello world!")

Hello world!

# Variables

if we need to store some value we can use python variables to allocate memory for this value and reference this allocated memory space. 

The syntax for defining variables in python is 
`variable_name = value`.

the value can be of any python datatype.
- `int`
- `float`
- `str`
-  etc ..

## Variable Assignment

In [ ]:
visited = False
print (visited)

False

In [ ]:
age = 26 # int 
country = "senegal" # string
height = 13.5 # float 
isAvailable = True # boolean

## Variable re-assignment and multiple variable assignment

In [ ]:
height = 20
country = "Senegal"

height, country, count = 20, "Senegal", 50

We can re-assign an already declared variable to a new value

In [ ]:
first name= "Senegal"

SyntaxError: ignored

We can also assign multiple variables to their values in a single line

In [ ]:
name, country, age = 'Adam', 'Senegal', 26

the variable name should satisfy some conditions
- it should not be a keyword

python keywords : 
  ```['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']```
- should start with a letter 
- should not include special characters like `!,&,@,#,$`, '_' is allowed.
- should not include spaces

Note: python variables are case sensitive 
`Variable` is not eqivalent to `variable`  
it is a good practice to use descriptive variable names.
For example `count = 10` instead of `c = 10` and `training_error = 0.05` instead of `e = 0.05`

In [ ]:
# some valid and invalid variable names

@core = 89
hello world = 6
True = "string"

# Comments

If we want to write a description or an explanation for our python code we can use comments.
Comments are ignored by the python interpreter.
 
We can write comments by preceding the comment text by the `#` symbol. This is called a single line comment.

or we can use the triple single quotes or triple double quotes for multi-line comments (both are equivalent in python).

In [ ]:
# different ways for writing comments in python, this way (single line comment)

'''
this
is 
a
multi-line
comment
'''

"""
this
is 
also
a
multi-line
comment
"""

# Data types

- Numeric : int, float, complex
- string : str/ sequence of characters
- boolean : bool/ True, False values 
- Sequence : list, tuple/ sequence of objects
- Mapping : dict/ key value mapping 
- Set : set/ unordered collection of objects

In [ ]:

# int 
count = 10

# float 
height = 13.5

# str
name = "Mohamed"


# bool
visible = True

#list
subjects = ["Math", "History", "English",  "Chemistry"]

# tuple 
countries = ("Senegal", "Cameroon", "Sudan", "Egypt")

# dict
country_capitals = {
    "Cameroon": "Youndee",
    "Sudan" : "Khartoum",
    "Egypt" : "Cairo"
}

# set
cars = {"BMW", "VW", "Mercedes"}

# type built-in function to return the variable data type
print (type(count))
print (type(height))
print (type(name))
print (type(visible))
print (type(country_capitals))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'dict'>

## Type Conversion/Casting

Two kinds of type conversion:
- Implicit Conversion : Performed by the python interpreter
- Explicit Conversion : Performed by calling the constructor of the type you want to convert the variable to

In [ ]:
# implicit type conversion by the python interpreter

age1 = 35
age2 = 10.3

print (type(age1))
print (type(age2))

result = age1+age2
print (type(result))

<class 'int'>
<class 'float'>
<class 'float'>

In [ ]:
# explicit type conversion 
# e.g. convert an integer to string 

age = 20
age_string = str(age)
print (type(age), type(age_string))

# convert a numeric string to int
number = "123"
number_int = int(number)
print (type(number_int), type(number))

# convert a string to a list of characters 
our_string = "I love Python"
our_string_as_list = list(our_string)
print (our_string_as_list)

<class 'int'> <class 'str'>
<class 'int'> <class 'str'>
['I', ' ', 'l', 'o', 'v', 'e', ' ', 'P', 'y', 't', 'h', 'o', 'n']

# Operators

An operator is a special character or symbol used to perform an operation between variables and/or values

e.g. the `+` is the addition operator,
`5+7` performs the addition operation between two integers

### Arithmetic Operator

The arithmetic operators perform mathematical operations between literal values/variables

### `+` Addition
`-` Subtraction

`*` multiplication

`/` float/floor division 

`//` integer division 

`**` power

`%` Modulo

In [ ]:
x = 10 
y = 7 
print (x+y)
print (x*y)
print (x/y)
print (x//y)
print (x**y)
print (x%y)

17
70
1.4285714285714286
1
10000000
3

## Comparison Operators

Comparison operators are used to compare variables/values and return a boolean result `True` or `False`

`==` is equal to operator , a == b, True if a=b , otherwise False

`!=` is not equal to , a!=b , True if a is not equal to b , otherwise false

`>` greater than , a>b , True if a is greater than b, otherwise False


`<` less than , a<b, True if a is less than b , False otherwise


`>=` greater than or equal , True if a is greater than or equal to b , False otherwise

`<=` greater than or equal , True if a is less than or equal to b , False otherwise

## Assignment Operators

We use assignment operators to assign a value to a variable

`=` simple assignment 

`+=` assignment with addition.  a+=2 Equivalent to a = a+2 

`-=` assignment with subtraction.

`/=` assignment with division 

`*=` assignment with multiplication 

`%=` assignment with modulo 

`**=` assignment with exponentiation

## Logical Operators

Logical operators are use to make decision by combining mutliple boolean expressions

`and` , `a and  b`, returns True if both `a` and `b` are True, otherwise False

`or`, `a or b`, returns True if either `a` or `b` is True, otherwise False

`not`, `not a`, returns True if `a`is False, otherwise True

In [ ]:
a = 7 
b = 5

a == 7 and b ==4

False

# Strings

In [ ]:
example_string = "abcdefg"

- create a string / single quote , double quote
- multi-line string 
- string indexing / slicing, negative indexing 
- strings are immutable 
- string operations :  
  - comparison
  - concatenation
- string length 
- string methods:
  - upper() : uppercase 
  - lower() : lowercase
  - split() : split on some character
  - find() : finds the index of a substring
  - replace() : replaces a substring with another

- string formatting

## String Creation

In [ ]:
# create a string / single quote , double quote
example_string = "abd"
example_string = 'abd'

### Multi-line Strings

In [ ]:
# multi-line string/ double quotes
example_mutli_line_string = """
this 
is 
a 
multiline 
string"""

# single quotes
example_mutli_line_string = '''
this 
is 
a 
multiline 
string
'''

## String Indexing/Slicing

In [ ]:

# string indexing / slicing, negative indexing 
country = "Senegal"

# indexing 
print (country[0])
print (country[1])
print (country[2])

# negative index
print (country[-1])

# slicing 
print (country[1:3])

## Strings Immutability

In [ ]:
# strings are immutable
subject = "History" 
subject[0] = "I"
print (subject)

TypeError: ignored

## String Operations

In [ ]:
# strings comparison
str1 = "Hello"
str2 = "Hi"
str3 = "Hello"

print(str1 == str2)
print(str1 == str3)

False
True
HelloHi

In [ ]:
# strings concatenation
str1 = "Hello"
str2 = "World!"
result = str1 + " " +str2
print (result)

Hello World!

## String Length

We can use the python built-in `len` function to return the string length

In [ ]:
country = "Senegal"
length = len(country)
print (length)

## String Methods

There are many useful methods that python provide us to manipulate and work with strings. We are going to cover some of them in this tutorial. Refer yourself to the documentation for a comprehensive list of python string methods

### Convert to Lowercase/Uppercase

use the upper and lower string methods to convert your string to uppercase or lowercase respectively

In [ ]:
country = "senegal"
print (country.upper())

country = "CAMEROON"
print(country.lower())

SENEGAL
cameroon

### Splitting

We can use the `split` method to split our string into a list of strings based on some delimiter

In [ ]:
countries = "Senegal,Cameroon,Mali,RSA"
print (countries.split(","))

countries = "Senegal Cameroon Mali RSA"
print (countries.split())

['Senegal', 'Cameroon', 'Mali', 'RSA']
['Senegal', 'Cameroon', 'Mali', 'RSA']

### Finding a Substring in a String

The `find` method can be used to find the index of the first occurence of a substring in a string

In [ ]:
example_string = 'I love python'
index = example_string.find("love")
print (index)

2

### Replacing a Substring with Another String

The string `replace` method can be utilized to replace a substring occuring in our string with another substring

In [ ]:
example_string = 'I love python'
result = example_string.replace("love", "hate")
print (result)

I hate python

## String Formatting

An f-string is an easy way that you find handy to format strings in python. Just precede the string single/double quote by `f` and use the curly brackets to enclose variables that you want their values to appear in the formatted string

In [ ]:
language = "Python" 
result = f'I love {language}'
print(result) 

num_brothers = 3
result = f'I have {num_brothers} brothers'
print (result)

I love Python
I have 3 brothers

# Lists

Python list is a sequence or a collection of ordered elements

## List Creation

In [ ]:
countries = ["Senegal", "Rwanda", "Chad"] # list of strings
heights = [180, 190, 200, 155] # list of int
weights = [12, 14.5, 16,40.1] # list of float and int

## List Indexing

In [ ]:
countries = ["Senegal", "Rwanda", "Chad"]
print (countries[0]) # list indices start at 0 and end at list length -1
print (countries[1])
print (countries[2])

# negative indexing 
print (countries[-1]) # the last element
print (countries[-2]) # the element before the last

## List Slicing

In [ ]:
countries = ["Senegal", "Rwanda", "Chad", "Morocco", "Sudan", "Uganda", "Kenya"]
list_slice = countries[0:2] # returns a sub-list starting from index 0 and ending at index 2 exclusive, index 2 is not included 
another_slice = countries[1:]
third_slice = countries[:4]
list_slice, another_slice, third_slice

(['Senegal', 'Rwanda'],
 ['Rwanda', 'Chad', 'Morocco', 'Sudan', 'Uganda', 'Kenya'],
 ['Senegal', 'Rwanda', 'Chad', 'Morocco'])

## List Length

In [ ]:
# use the len function to return the length of list/ number of elements
countries = ["Senegal", "Rwanda", "Chad", "Morocco", "Sudan", "Uganda", "Kenya"]
num_countries = len(countries)

## List Methods

### `append`

We use the `append` method to add an element at the end of list

In [ ]:
countries = ["Senegal", "Rwanda", "Chad", "Morocco", "Sudan", "Uganda", "Kenya"]
countries.append("Somalia")
countries

['Senegal', 'Rwanda', 'Chad', 'Morocco', 'Sudan', 'Uganda', 'Kenya', 'Somalia']

### `extend`
`extend` method is used to add elements from another list after the end of **our** list

In [ ]:
africa = ["Senegal", "Rwanda", "Chad", "Morocco", "Sudan", "Uganda", "Kenya"]
europe = ["UK", "France", "Germany"]
africa.extend(europe)
print (africa)

['Senegal', 'Rwanda', 'Chad', 'Morocco', 'Sudan', 'Uganda', 'Kenya', 'UK', 'France', 'Germany']

### `insert`
We use the `insert` method to insert an item to the list at the specified index

In [ ]:
europe = ["UK", "France", "Germany"]
europe.insert(0,"Greece")
print (europe)

['Greece', 'UK', 'France', 'Germany']

### `remove`
removes an item from the list

In [ ]:
europe = ["UK", "France", "Germany"]
europe.remove("UK")
print (europe)

['France', 'Germany']

### `pop`
returns and removes an item from the list at given index/ the last element is popped if index not provided

In [ ]:
salaries = [5000, 1200, 3000,1100.1]
salary = salaries.pop(0)
salary,salaries

(5000, [1200, 3000, 1100.1])

### `sort`
sort the list in ascending/descending order

In [ ]:
salaries = [5000, 1200, 3000,1100.1]
salaries.sort(reverse=True)
print (salaries)

[5000, 3000, 1200, 1100.1]

## Changing List Elements at a Specified Index

Lists are mutable, that means we can update or change list elements after the creation of the list

In [ ]:
salaries = [5000, 1200, 3000,1100.1]
salaries[1] = 6000
print (salaries)
#salaries[0:2] = [1,4]
#print (salaries)

[5000, 6000, 3000, 1100.1]
[1, 4, 3000, 1100.1]

# Python I/O

## Python Output

We can display text to the screen using the python built-in `print` function as you did in the hello world example. There are more advanced ways of using the `print` function we are going to explore through this section.

Here is the complete definition of the print function
`print(object=, end='\n', file=, sep= , flush=`)

- `object` is the object we want to print 
- `end` the character to add after each call for print, newline by default  
- `sep` allows us to add a character to separate multiple objects 
- `flush` specifies if the output is flushed or buffered 
- `file` output file, standard output by default

In [ ]:
print("I","love python")

I love python

## Handling Input

We can read user input by using the `input` function, we pass it the prompt that we want to display to the user. the `input` function returns  the input string that the user typed. We can store it in a variable and print it as you see in this example

In [ ]:
age = input('Please enter your age ')
print ("Your age is "+age)

Please enter your age 12
Your age is 12

### Excercise:
write a python program that asks the user to input two numbers and prints their summation

In [ ]:
num1 = input("Please enter a number")
num2 = input("Please enter a number")

print ("The sum is :", int(num1)+int(num2))

Please enter a number10
Please enter a number20
The sum is : 30

# Conditionals

## If statement
we use if statement to execute a block of code based on the evaluation of a conditional expression

```
# syntax for if statement
if condition:
  # block of code 

# if the condition evaluates to True the given block of code is executed, skipped otherwise  
```

In [ ]:
age = 20
if age >= 60:
  print ("Too Old")

## if ... else ...

We can use the `else` keyword to instruct python to execute a block of code in the case that the if condition is not met

```
# syntax for if .. else..

if condition:
   # do something 
else:
   # do something else

```

In [ ]:
mark = 40
if mark >=50:
  print ("Pass")
else:
  print ("Fail")

Fail

## if .. elif .. else

if/else statement is used when we have only one condition. If we have multiple conditions, and we want to execute a block of code based on the evaluation of each condition, it is possible to use the `if elif else` statement

```
if condition1:
  # block 1
elif condition2:
  # block 2
elif condition3:
  # block 3
else:
  # block 4      
```
if condition1 evalutates to `True` block 1 is executed and everything else is skipped, otherwise we check for condition 2 and condition 3 in a similar manner, if all of the conditions evaluates to False, the else block is executed

## Exercise: Grade Calculator

Write a program that calculates a student's final grade based on the following criteria:

90 or above: A+

80 to 89: A

70 to 79: B

50 to 60: C

Below 50: F

In [ ]:
mark = 90
if mark >=90:
  print ("A+")
elif mark >=80:
  print ("A")
elif mark >=70:
  print ("B")   
elif mark >=50:
  print ("C")
else:
  print ("F")

A+

# For loop

## the range function

`range(start, stop)` 

We use the range function to generate a sequence starting with a value `start` and stoping at a value `stop`, the value `start` has to be less than or equal to `stop`.

In [ ]:
sequence = range(12,11)
print (list (sequence))

[]

## For loop with other sequence types (strings/lists/tuples)

Also, for loops can be used with other data types that have a sequential nature, such as : `string`, `list`, `tuple`, `set`

In [ ]:
example = "Python is beautiful"

for char in example:
  print (char, end=" ")

P y t h o n   i s   b e a u t i f u l

In [ ]:
numbers = [1,2,3,4,5]
for i in numbers:
  print (i)

1
2
3
4
5

## Exercise

Write a program that compute the summation of integers from 1 to 100,
i.e. result = `1+2+3+...+99+100`

In [ ]:
result = 0

### FILL YOUR CODE HERE ###

In [ ]:
###

5050

## Exercise

Write a Python program to reverse a string

Sample input : `"abcdefg"`

Expected Output : `"gfedcba"`

In [ ]:
string = "abcdefg"
reversed_string = ""
### FILL YOUR CODE HERE ###

## `break` statement

we use the break exit the execution of a loop , before all iterations have completed. When a break statement is encountered inside a loop, the loop is immediately terminated, and the program control resumes after the loop.

In [ ]:
# use the break statement to find the index of the first occurence of the letter a in a string
string = "examplestring"
for i in range(len(string)):
  if string[i] == "a":
    print (i)
    break

2

## `continue` statement

The `continue` statement is used to skip the current iteration of a loop and move on to the next iteration. When a continue statement is encountered inside a loop, the current iteration of the loop is skipped, and the program control moves directly to the next iteration of the loop.

In [ ]:
# use the continue statement to print only odd numbers
for i in range(20):
  if i%2 == 0:
    continue
  print (i)

1
3
5
7
9
11
13
15
17
19

# While loop

We use while loops to execute a block of code while a given condition is met

```
while condition:
  # block of code


```

## Exercise 
Write a program to print the numbers from 1 to 10 using a while loop

In [ ]:
### FILL YOUR CODE HERE ###

## Exercise

Write a program to implement a simple guessing game. The user is prompted to enter their guess each time through the loop. Once the correct number is entered (the user guess == `secret_number`), the loop exits and a message is displayed indicating that the user got it right.

In [ ]:
secret_number = 7
### FILL YOUR CODE HERE ###

# Functions

A function is a block of code that performs a specific operation and executed when it is called

## Function Definition

```
def function_name():
  # function code here
```

In [ ]:
def say_hi():
  print ("Hi")

## Function Call

In [ ]:
say_hi()

Hi

## Functions with single/multiple Arguments

In [ ]:
# a single argument function
def say_hi (name):
  print ("hi "+name)
say_hi("Mohamed")

hi Mohamed

In [ ]:
def print_elements(x): 
  for i in x:
    print (i)

In [ ]:
# a function with multiple arguments
def say_hi(fname, lname):
  print ("Hi "+fname+" "+lname)

## Keyword Arguments

In addition to passing arguments in the order specified by the function definition, you can also use keyword arguments to pass values to a function. Keyword arguments allow you to specify the arguments by name, rather than by position.

In [ ]:
def say_hi(fname, lname):
  print ("Hi "+fname+" "+lname)
say_hi("Mohamed", "Elabbas")
say_hi(fname="Mohamed", lname="Elabbas")

Hi Mohamed Elabbas
Hi Mohamed Elabbas

## `return` statement

The `return` statement is used to specify the value that a function should return to the caller. It allows you to capture the output of the function and assign it to a variable, or use it in other expressions.

In [ ]:
def add(a, b):
  result = a+b
  # print (result)
  return result

summation = add(5, 6)
print (summation)

11

## Parameters with default value

We can specify default values for some of the function parameters. The parameters that have default values should be placed after the parameters without default values in the function definition. This is because the parameters with default values are optional and can be omitted in the function call, while the parameters without default values are required and must be passed in the function call.

In [ ]:
def add(a, b=5):
  return a+b

add(4)

7

## Exercise

Write a function `maximum` that returns the maximum of two numbers

In [ ]:
def maximum(a ,b):
### FILL YOUR CODE HERE ###

## Exercise

Define a function named `square` that takes an argument `x` and returns the `square` of `x`.

In [ ]:
### FILL YOUR CODE HERE ###

## Exercise

Define a function named `calculate_avg` that takes a list of numbers as an argument and returns the average of the numbers in the list.

In [ ]:
### FILL YOUR CODE HERE ###