# Tuples

a python tuple is a sequence of items . Python tuples are similar to lists, the difference is that in tuples we cannot update or change elements after the creation of the tuple object, wheras we can do that in lists.

In [ ]:
countries = ("UK", "Germany", "France")
countries = 1, 2.5, "Senegal"

## Single-element Tuples

In [ ]:
x = ("test",)

## Tuple Indexing/Slicing

In [ ]:
countries = ("UK", "Germany", "France")
print (countries[0]) # tuples are zero indexed
print (countries[-1]) # negative indexing 
print (countries[0:]) # slicing similar to lists

UK
France
('UK', 'Germany', 'France')

## Tuple Length

The `len` function is used to return length/number of elements of the tuple

In [ ]:
countries = ("UK", "Germany", "France")
print (len(countries))

3

## Tuple Immutability

Python tuples are immutable, that means we are not able to change or update tuple elements after  creation of the tuple object

In [ ]:
countries = ("UK", "Germany", "France")
countries[0] = "Greece" # does not work

TypeError: ignored

## Iterating Through Tuples

In [ ]:
fruits = "apple", "mango", "orange", "banana"

for fruit in fruits:
  print (fruit)

apple
mango
orange
banana

# Sets

Python sets are collections of unique unordered data elements.

## Set Creation

In [ ]:
empty_set = set() # empty set created using the set function
countries = {"UK", "Germany", "France"} # a set of strings
quanitities = {12, 13.4,4,5,6}
measurements = {12.4, 45.1, 56.55, 56.55} # notice the set removing duplications
print (measurements)

{56.55, 12.4, 45.1}

## Set Methods

### `add`
adds an element to the set

In [ ]:
countries = {"UK", "Germany", "France"} # a set of strings
countries.add("Netherlands")
print (countries)

{'UK', 'Netherlands', 'France', 'Germany'}

### `remove`
remove a specified element from the set

In [ ]:
countries = {"UK", "Germany", "France"}
countries.remove("UK")
print (countries)
countries.remove("Greece")

{'France', 'Germany'}

KeyError: ignored

### `discard`

We use the discard method to remove an element from the set. Unlike `remove` the `discard`  method does not raise an error if the element does not exist in the set

In [ ]:
countries = {"UK", "Germany", "France"}
countries.discard("Greece")

### `update`
update the set by adding the elements of another set/ performing the union of the set with another set

In [ ]:
countries = {"UK", "Germany", "France"}
countries.update({"UK", "Spain", "Norway"}) # returns None/ changes the set in place
print (countries)

{'Spain', 'Norway', 'Germany', 'UK', 'France'}

### `union`

returns the union of the set with another set

In [ ]:
countries = {"UK", "Germany", "France"}
result = countries.union({"UK", "Spain", "Norway"})
print (result)

{'Spain', 'Norway', 'Germany', 'UK', 'France'}

### `intersection`

returns the intersection of the set with another set

In [ ]:
countries = {"UK", "Germany", "France"}
result = countries.intersection({"UK", "Spain", "Norway"})
print(result)

{'UK'}

### `difference`

performs the difference operation/elements that belong to the set but do not belong to the other set

In [ ]:
countries_a = {"UK", "Germany", "France"}
countries_b = {"UK", "Spain", "Norway"}
a_minus_b = countries_a.difference(countries_b)
b_minus_a = countries_b.difference(countries_a)
print(result)

{'France', 'Germany'}

## Check if an element exists in the set

We use the `in` keyword to check if a given element exist in the set

In [ ]:
countries = {"UK", "Germany", "France"}

result = "Ukraine" in countries
print (result)

False

Notes : 
- sets are very efficient in the operation of checking if an element exists in the set or not. It takes constant time to do that in set, wheras we need linear time to do the same operations in lists and tuples 
- set elements have to be hashable (`int`, `float`, `tuple`, `str`),
 we cannot have `list` as set elements

#Dictionaries

Python Dictionaries are ordered collections of key and value pairs

## Dictionary Creation
dictionary keys should be of a hashable type: `str`, `int`, `float`, `tuple`

In [ ]:
countries_capitals = {"Cameroon":"Yaoundé", "Senegal":"Dakar", "Egypt":"Cairo", "Sudan":"Khartoum"}
country_capitals = dict(cameroon="Yaoundé", Senegal="Dakar")
print (country_capitals)

{'cameroon': 'youndee', 'Senegal': 'Dakar'}

## Access Dictionary Keys

We can access the dictionary keys by putting the dictionary key name between
`[]`

In [ ]:
country_capitals = dict(cameroon="Yaoundé", Senegal="Dakar")
country_capitals['cameroon']

'youndee'

## Update Dictionary Values

In [ ]:
countries_capitals = {"Cameroon":"Yaoundé", "Senegal":"Dakar", "Egypt":"Cairo", "Sudan":"Khartoum"}
countries_capitals ["Cameroon"] = "Douala"

## Dictionary Methods

### items()

We can access the dictionary key/values as tuples using the `items()` method

In [ ]:
country_capitals = dict(cameroon="Yaoundé", Senegal="Dakar")
for key,value in country_capitals.items():
  print (key,value)

cameroon youndee
Senegal Dakar

### keys()

Also we can access the dictionary keys by calling the `keys()` method

In [ ]:
country_capitals = dict(cameroon="Yaoundé", Senegal="Dakar")
print (country_capitals.keys())

dict_keys(['cameroon', 'Senegal'])

### values()
Also we can access the dictionary values by calling the `values()` method

In [ ]:
students_marks = {"Alex": 55, "Alice":90, "John":95}
students_marks.values()

dict_values([55, 90, 95])

## Removing an Element from the Dictionary

To delete a dictionary key/value, use the `del` statement followed by the dictionary key that you want to delete

In [ ]:
del country_capitals['cameroon']

KeyError: ignored

In [ ]:
country_capitals

{'Senegal': 'Dakar'}

We can delete all the keys in the dictionary using the `clear()` method

In [ ]:
country_capitals.clear()

In [ ]:
country_capitals

{}

### `update()`

We use the `update` to update the dictionary with keys and values from another dictionary

In [ ]:
country_capitals =  {"Senegal":"Dakar", "Cameroon":"Younde", "Egypt":"Cairo"}
more_capitals = {"Sudan":"Khartoum", "Egypt":"Alexandria"}
country_capitals.update(more_capitals)

In [ ]:
country_capitals

{'Senegal': 'Dakar',
 'Cameroon': 'Younde',
 'Egypt': 'Alexandria',
 'Sudan': 'Khartoum'}