<p align="center">
<img src="https://www.senenews.com/wp-content/uploads/2018/02/aims-3.png">
</p>

What is pandas? \\


*   Python library used for working with data sets.
*   It has functions for analyzing, cleaning, exploring, and manipulating data.

Key Features of Pandas:


*   Fast and efficient DataFrame object with default and customized indexing.
*   Tools for loading data into in-memory data objects from different file formats.
*   Data alignment and integrated handling of missing data.
*   Reshaping and pivoting of date sets.
*   Label-based slicing, indexing and subsetting of large data sets.
*   Columns from a data structure can be deleted or inserted.
*   Group by data for aggregation and transformations.
*   High performance merging and joining of data.

To use pandas you need to install in local machine : 
`
!pip install pandas 
`

In [ ]:
# Installation of pandas
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

alias (as) : In Python alias are an alternate name for referring to the same thing.

In [ ]:
# Import pandas as pd
import pandas as pd

In some project you have to use an specifique version of your library .  to check the Pandas Version : ```
pd.__version__ ```

In [ ]:
pd.__version__

'1.3.5'

# Introducing Pandas Objects

At the very basic level, Pandas objects can be thought of as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provides a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Thus, before we go any further, let's introduce these two fundamental Pandas data structures: the ``Series``, ``DataFrame``.

We will start our code sessions with the standard NumPy and Pandas imports:

In [ ]:
import numpy as np
import pandas as pd

## The Pandas Series Object

A Pandas ``Series`` is a one-dimensional array of indexed data.
It can be created from a list or array as follows:

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

As we see in the output, the ``Series`` wraps both a sequence of values and a sequence of indices, which we can access with the ``values`` and ``index`` attributes.
The ``values`` are simply a familiar NumPy array:

In [ ]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

The ``index`` is an array-like object of type ``pd.Index``, which we'll discuss in more detail momentarily.

In [ ]:
data.index

RangeIndex(start=0, stop=4, step=1)

Like with a NumPy array, data can be accessed by the associated index via the familiar Python square-bracket notation:

In [ ]:
data[1]

0.5

In [ ]:
data[1:3]

1    0.50
2    0.75
dtype: float64

As we will see, though, the Pandas ``Series`` is much more general and flexible than the one-dimensional NumPy array that it emulates.

### ``Series`` as generalized NumPy array

From what we've seen so far, it may look like the ``Series`` object is basically interchangeable with a one-dimensional NumPy array.
The essential difference is the presence of the index: while the Numpy Array has an *implicitly defined* integer index used to access the values, the Pandas ``Series`` has an *explicitly defined* index associated with the values.

This explicit index definition gives the ``Series`` object additional capabilities. For example, the index need not be an integer, but can consist of values of any desired type.
For example, if we wish, we can use strings as an index:

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

And the item access works as expected:

In [ ]:
data['b']

0.5

We can even use non-contiguous or non-sequential indices:

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 3, 3, 7])
data

2    0.25
3    0.50
3    0.75
7    1.00
dtype: float64

In [ ]:
data[5]

0.5

### Series as specialized dictionary

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from a Python dictionary:

In [ ]:
population_dict = {'Senegal': 38332521,
                   'Cameroun': 26448193,
                   'Mali': 19651127,
                   'Sudan': 19552860,
                   'Ghana': 12882135}
population = pd.Series(population_dict)
population

Senegal     38332521
Cameroun    26448193
Mali        19651127
Sudan       19552860
Ghana       12882135
dtype: int64

By default, a ``Series`` will be created where the index is drawn from the sorted keys.
From here, typical dictionary-style item access can be performed:

In [ ]:
population['Senegal']

38332521

Unlike a dictionary, though, the ``Series`` also supports array-style operations such as slicing:

In [ ]:
population['Senegal':'Sudan']

Senegal     38332521
Cameroun    26448193
Mali        19651127
Sudan       19552860
dtype: int64

### Constructing Series objects

We've already seen a few ways of constructing a Pandas ``Series`` from scratch; all of them are some version of the following:

```python
>>> pd.Series(data, index=index)
```

where ``index`` is an optional argument, and ``data`` can be one of many entities.

For example, ``data`` can be a list or NumPy array, in which case ``index`` defaults to an integer sequence:

In [ ]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

``data`` can be a scalar, which is repeated to fill the specified index:

In [ ]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

``data`` can be a dictionary, in which ``index`` defaults to the sorted dictionary keys:

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In each case, the index can be explicitly set if a different result is preferred:

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

Notice that in this case, the ``Series`` is populated only with the explicitly identified keys.

### The Pandas DataFrame Object

The next fundamental structure in Pandas is the ``DataFrame``.
Like the ``Series`` object discussed in the previous section, the ``DataFrame`` can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary.
We'll now take a look at each of these perspectives.

### DataFrame as a generalized NumPy array
If a ``Series`` is an analog of a one-dimensional array with flexible indices, a ``DataFrame`` is an analog of a two-dimensional array with both flexible row indices and flexible column names.
Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a ``DataFrame`` as a sequence of aligned ``Series`` objects.
Here, by "aligned" we mean that they share the same index.

To demonstrate this, let's first construct a new ``Series`` listing the area of each of the five states discussed in the previous section:

In [ ]:
area_dict = {'Senegal': 423967, 'Cameroun': 695662, 'Mali': 141297,
             'Sudan': 170312, 'Ghana': 149995}
area = pd.Series(area_dict)
area

Senegal     423967
Cameroun    695662
Mali        141297
Sudan       170312
Ghana       149995
dtype: int64

Now that we have this along with the ``population`` Series from before, we can use a dictionary to construct a single two-dimensional object containing this information:

In [ ]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

          population    area
Senegal     38332521  423967
Cameroun    26448193  695662
Mali        19651127  141297
Sudan       19552860  170312
Ghana       12882135  149995

Like the ``Series`` object, the ``DataFrame`` has an ``index`` attribute that gives access to the index labels:

In [ ]:
states.index

Index(['Senegal', 'Cameroun', 'Mali', 'Soudan', 'Ghana'], dtype='object')

Additionally, the ``DataFrame`` has a ``columns`` attribute, which is an ``Index`` object holding the column labels:

In [ ]:
states.columns

Index(['population', 'area'], dtype='object')

the ``DataFrame`` can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

### DataFrame as specialized dictionary

Similarly, we can also think of a ``DataFrame`` as a specialization of a dictionary.
Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'area'`` attribute returns the ``Series`` object containing the areas we saw earlier:

In [ ]:
states['area']

### Constructing DataFrame objects

A Pandas ``DataFrame`` can be constructed in a variety of ways.
Here we'll give several examples.

#### From a single Series object

A ``DataFrame`` is a collection of ``Series`` objects, and a single-column ``DataFrame`` can be constructed from a single ``Series``:

In [ ]:
pd.DataFrame(population, columns=['population'])

          population
Senegal     38332521
Cameroun    26448193
Mali        19651127
Sudan       19552860
Ghana       12882135

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [ ]:
data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [ ]:
t =pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4},{'b': 3, 'c': 4}])
t.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
t

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

#### From a dictionary of Series objects

As we saw before, a ``DataFrame`` can be constructed from a dictionary of ``Series`` objects as well:

In [ ]:
pd.DataFrame({'population': population,'area': area})

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [ ]:
d = pd.DataFrame(data=[[2,3],[4,5],[6,7]])
             #index=['a', 'a', 'c'])
d

   0  1
0  2  3
1  4  5
2  6  7

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
d.loc['a']

   0
a  3
a  4

In [ ]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['b', 'a', 'c'])

### Reading data files

Data can be stored in any of a number of different forms and formats. By far the most basic of these is the humble CSV file. When you open a CSV file you get something that looks like this:

```
Product A,Product B,Product C,
30,21,9,
35,34,1,
41,11,11
```

So a CSV file is a table of values separated by commas. Hence the name: "Comma-Separated Values", or CSV.

Let's now set aside our toy datasets and see what a real dataset looks like when we read it into a DataFrame. We'll use the `pd.read_csv()` function to read the data into a DataFrame. This goes thusly: `data = pd.read_csv("filename.csv")`

In [ ]:
from pandas import *

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/sample_data/california_housing_train.csv")

We can use the `shape` attribute to check how large the resulting DataFrame is:

In [ ]:
data.shape

(17000, 9)

So our new DataFrame has 17,000 records split across 9 different columns.

We can examine the contents of the resultant DataFrame using the `head()` command, which grabs the first five rows:

In [ ]:
data.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

How we can save the file in our local machine ??

*** Exercice*** 😊

# Indexing, Selecting & Assigning

Selecting specific values of a pandas DataFrame or Series to work on is an implicit step in almost any data operation you'll run, so one of the first things you need to learn in working with data in Python is how to go about selecting the data points relevant to you quickly and effectively.

## Native accessors

Native Python objects provide  good ways of indexing data. Pandas carries all of these over, which helps make it easy to start with.

Consider this DataFrame:

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/sample_data/california_housing_train.csv")
data.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In Python, we can access the property of an object by accessing it as an attribute. A `book` object, for example, might have a `title` property, which we can access by calling `book.title`. Columns in a pandas DataFrame work in much the same way. 

Hence to access the `median_house_value` property of `data` we can use:

In [ ]:
data.median_house_value

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

If we have a Python dictionary, we can access its values using the indexing (`[]`) operator. We can do the same with columns in a DataFrame:

In [ ]:
data['median_house_value']

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

These are the two ways of selecting a specific Series out of a DataFrame.

Doesn't a pandas Series look kind of like a fancy dictionary? It pretty much is, so it's no surprise that, to drill down to a single specific value, we need only use the indexing operator `[]` once more:

In [ ]:
data['median_house_value'][0]

66900.0

## Indexing in pandas

The indexing operator and attribute selection are nice because they work just like they do in the rest of the Python ecosystem. As a novice, this makes them easy to pick up and use. However, pandas has its own accessor operators, `loc` and `iloc`. For more advanced operations, these are the ones you're supposed to be using.

### Index-based selection

Pandas indexing works in one of two paradigms. The first is **index-based selection**: selecting data based on its numerical position in the data. `iloc` follows this paradigm.

To select the first row of data in a DataFrame, we may use the following:

In [ ]:
data.iloc[-1]

longitude              -124.3500
latitude                 40.5400
housing_median_age       52.0000
total_rooms            1820.0000
total_bedrooms          300.0000
population              806.0000
households              270.0000
median_income             3.0147
median_house_value    94600.0000
Name: 16999, dtype: float64

Both `loc` and `iloc` are row-first, column-second. This is the opposite of what we do in native Python, which is column-first, row-second.

This means that it's marginally easier to retrieve rows, and marginally harder to get retrieve columns. To get a column with `iloc`, we can do the following:

In [ ]:
data.iloc[:,0]

0       -114.31
1       -114.47
2       -114.56
3       -114.57
4       -114.57
          ...
16995   -124.26
16996   -124.27
16997   -124.30
16998   -124.30
16999   -124.35
Name: longitude, Length: 17000, dtype: float64

On its own, the `:` operator, which also comes from native Python, means "everything". When combined with other selectors, however, it can be used to indicate a range of values. For example, to select the `country` column from just the first, second, and third row, we would do:

In [ ]:
data.iloc[:3,0]

Or, to select just the second and third entries, we would do:

In [ ]:
data.iloc[1:3, 0]

It's also possible to pass a list:

In [ ]:
data.iloc[[0, 1, 2], 0]

Finally, it's worth knowing that negative numbers can be used in selection. This will start counting forwards from the _end_ of the values. So for example here are the last five elements of the dataset.

In [ ]:
data.iloc[-5:]

### Label-based selection

The second paradigm for attribute selection is the one followed by the `loc` operator: **label-based selection**. In this paradigm, it's the data index value, not its position, which matters.

For example, to get the first entry in `data`, we would now do the following:

In [ ]:
data.loc[0 , "longitude"]

-114.31

In [ ]:
data.loc[:,["latitude","longitude"]]

       latitude  longitude
0         34.19    -114.31
1         34.40    -114.47
2         33.69    -114.56
3         33.64    -114.57
4         33.57    -114.57
...         ...        ...
16995     40.58    -124.26
16996     40.69    -124.27
16997     41.84    -124.30
16998     41.80    -124.30
16999     40.54    -124.35

[17000 rows x 2 columns]

## Conditional selection

So far we've been indexing various strides of data, using structural properties of the DataFrame itself. To do *interesting* things with the data, however, we often need to ask questions based on conditions. 

For example, suppose that we're interested specifically in better-than-average wines produced in Italy.

We can start by checking if each wine is Italian or not:

In [ ]:
data.latitude==34.40

0        False
1         True
2        False
3        False
4        False
         ...
16995    False
16996    False
16997    False
16998    False
16999    False
Name: latitude, Length: 17000, dtype: bool

This operation produced a Series of `True`/`False` booleans based on the `latitude` of each record.  This result can then be used inside of `loc` to select the relevant data:

In [ ]:
data.loc[data.latitude == 34.40]

       longitude  latitude  ...  median_income  median_house_value
1        -114.47      34.4  ...         1.8200             80100.0
388      -116.94      34.4  ...         2.1339             78500.0
1816     -117.27      34.4  ...         3.3438            124400.0
8319     -118.46      34.4  ...         4.5420            195300.0
8579     -118.52      34.4  ...         5.3050            311200.0
8957     -118.90      34.4  ...         1.5781            134400.0
8967     -118.91      34.4  ...         3.2024            176100.0
8977     -118.92      34.4  ...         3.3152            198000.0
8986     -118.93      34.4  ...         3.7092            190500.0
9066     -118.98      34.4  ...         4.4219            338100.0
9205     -119.05      34.4  ...         2.6991            181300.0
9507     -119.29      34.4  ...         4.2656            241400.0
9655     -119.51      34.4  ...         5.2039            301300.0
9656     -119.51      34.4  ...         2.0625            314300.0
9661     -119.52      34.4  ...         3.2125            251000.0
9667     -119.53      34.4  ...         3.1389            248700.0
9735     -119.63      34.4  ...         6.0069            500001.0
9871     -119.71      34.4  ...         4.2283            326800.0
10065    -119.79      34.4  ...         9.6885            500001.0
10186    -119.85      34.4  ...         2.1652             37500.0
10225    -119.91      34.4  ...         6.0992            268800.0

[21 rows x 9 columns]

We can use the ampersand (`&`) to bring the two questions together:

In [ ]:
data.loc[(data.latitude == 34.40) & (data.total_rooms >= 7650.0)]

      longitude  latitude  ...  median_income  median_house_value
1       -114.47      34.4  ...          1.820             80100.0
8319    -118.46      34.4  ...          4.542            195300.0
8579    -118.52      34.4  ...          5.305            311200.0

[3 rows x 9 columns]

In [ ]:
data.loc[(data.latitude == 34.40) | (data.total_rooms >= 7650.0)]

       longitude  latitude  ...  median_income  median_house_value
1        -114.47     34.40  ...         1.8200             80100.0
133      -116.06     34.15  ...         2.2466             66800.0
135      -116.09     34.15  ...         2.6111             65600.0
168      -116.24     33.71  ...         2.7598             95000.0
175      -116.29     33.74  ...         4.7195            199300.0
...          ...       ...  ...            ...                 ...
16459    -122.61     38.42  ...         4.6957            259800.0
16467    -122.61     37.99  ...         4.4375            289600.0
16474    -122.62     38.40  ...         6.5261            324700.0
16490    -122.63     38.26  ...         4.6069            202300.0
16546    -122.67     38.33  ...         3.9518            220300.0

[526 rows x 9 columns]

# Summary Functions and Maps

In [ ]:
import pandas as pd

data = pd.read_csv("/content/sample_data/california_housing_train.csv")
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

## Summary functions

Pandas provides many simple "summary functions" (not an official name) which restructure the data in some useful way. For example, consider the `describe()` method:

In [ ]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

This method generates a high-level summary of the attributes of the given column. It is type-aware, meaning that its output changes based on the data type of the input. The output above only makes sense for numerical data; for string data here's what we get:

In [ ]:
data.latitude.describe()

count    17000.000000
mean        35.625225
std          2.137340
min         32.540000
25%         33.930000
50%         34.250000
75%         37.720000
max         41.950000
Name: latitude, dtype: float64

If you want to get some particular simple summary statistic about a column in a DataFrame or a Series, there is usually a helpful pandas function that makes it happen. 

For example, to see the mean of the points allotted (e.g. how well an averagely rated wine does), we can use the `mean()` function:

In [ ]:
data.latitude.mean()

35.6252247058827

To see a list of unique values we can use the `unique()` function:

In [ ]:
data.latitude.unique()

array([34.19, 34.4 , 33.69, 33.64, 33.57, 33.63, 33.61, 34.83, 33.62,
       33.6 , 34.84, 32.76, 34.89, 32.79, 32.74, 33.92, 33.49, 33.43,
       34.55, 33.82, 33.54, 32.82, 32.81, 32.86, 32.7 , 32.99, 33.19,
       32.8 , 32.68, 32.87, 32.69, 32.67, 32.75, 33.24, 33.12, 34.22,
       33.13, 32.98, 32.97, 32.77, 32.73, 34.91, 32.78, 32.96, 32.85,
       32.84, 32.83, 33.88, 33.2 , 33.04, 33.36, 33.35, 33.09, 33.26,
       34.2 , 32.93, 33.34, 35.55, 33.38, 33.28, 33.3 , 33.32, 33.4 ,
       33.51, 33.41, 34.18, 34.12, 33.33, 34.15, 33.86, 33.53, 34.14,
       33.68, 33.67, 33.66, 33.7 , 32.64, 33.75, 33.72, 33.71, 36.  ,
       34.21, 33.74, 33.73, 33.81, 33.65, 33.07, 34.13, 34.1 , 34.09,
       33.78, 33.79, 33.76, 34.16, 33.93, 33.77, 33.8 , 32.65, 34.07,
       33.94, 33.84, 33.98, 33.95, 34.85, 34.45, 33.96, 33.89, 33.97,
       33.85, 32.9 , 34.06, 33.83, 33.05, 35.43, 34.  , 33.06, 34.23,
       33.16, 33.56, 34.29, 33.46, 33.  , 33.99, 32.61, 34.24, 34.25,
       33.01, 32.92, 34.98, 33.02, 32.72, 34.08, 33.48, 34.69, 34.52,
       33.22, 33.03, 32.89, 33.31, 34.94, 32.56, 34.05, 32.88, 32.71,
       34.88, 34.3 , 34.87, 33.29, 34.9 , 34.01, 32.66, 32.63, 36.4 ,
       34.03, 32.95, 32.59, 33.18, 34.04, 34.02, 33.15, 32.62, 32.6 ,
       32.58, 32.55, 32.54, 33.52, 33.14, 33.11, 34.17, 33.17, 32.57,
       32.91, 34.96, 33.23, 33.08, 33.1 , 34.57, 34.43, 34.46, 33.27,
       34.39, 32.94, 34.75, 33.39, 34.48, 33.45, 34.26, 34.51, 34.49,
       34.54, 34.27, 33.9 , 34.5 , 34.28, 34.11, 34.44, 33.87, 33.21,
       34.59, 33.37, 34.53, 33.25, 34.42, 33.55, 35.13, 34.68, 35.54,
       34.41, 34.35, 34.38, 34.58, 33.91, 34.66, 34.47, 33.42, 33.44,
       33.47, 34.37, 33.5 , 35.61, 33.59, 33.58, 35.63, 35.62, 35.6 ,
       35.65, 35.64, 35.03, 34.99, 36.13, 35.73, 35.22, 34.71, 35.21,
       34.63, 35.1 , 35.16, 35.05, 35.12, 34.62, 36.64, 35.68, 34.56,
       34.74, 34.7 , 34.6 , 34.72, 34.65, 35.04, 34.67, 34.86, 34.61,
       37.35, 36.63, 34.77, 34.64, 35.48, 34.92, 34.76, 34.36, 37.17,
       36.94, 35.74, 35.27, 34.32, 36.19, 37.37, 37.36, 37.4 , 34.33,
       35.75, 34.31, 37.7 , 35.58, 35.72, 35.14, 35.7 , 37.39, 35.47,
       35.08, 35.2 , 35.82, 36.01, 37.58, 35.23, 36.41, 35.9 , 35.37,
       35.34, 35.41, 35.26, 36.79, 35.4 , 35.24, 36.04, 35.38, 35.44,
       34.82, 37.13, 36.32, 35.39, 35.36, 35.32, 34.81, 37.64, 36.66,
       36.49, 36.06, 38.03, 37.65, 37.63, 36.07, 35.35, 35.33, 35.3 ,
       36.05, 35.31, 36.08, 36.02, 35.28, 36.09, 35.42, 35.45, 35.95,
       34.34, 36.15, 35.94, 37.8 , 37.78, 36.22, 36.21, 36.42, 36.35,
       35.79, 36.29, 36.69, 36.54, 36.3 , 35.76, 36.31, 36.28, 35.5 ,
       36.34, 35.96, 37.25, 36.39, 36.38, 36.1 , 36.45, 35.78, 35.77,
       36.8 , 35.67, 36.36, 36.27, 36.23, 36.61, 36.5 , 35.87, 36.18,
       35.89, 35.88, 35.49, 37.11, 36.52, 36.33, 35.52, 36.55, 38.26,
       36.57, 36.62, 36.2 , 35.99, 37.06, 36.25, 36.89, 35.59, 37.12,
       36.16, 36.47, 36.56, 36.53, 37.09, 35.06, 36.68, 35.19, 36.59,
       38.53, 36.6 , 36.58, 36.48, 37.21, 35.07, 37.  , 36.44, 35.17,
       37.1 , 36.74, 37.32, 36.71, 37.34, 36.78, 36.7 , 36.51, 37.75,
       36.72, 36.37, 37.29, 37.94, 37.02, 36.83, 36.77, 36.11, 37.33,
       37.61, 37.31, 36.82, 37.27, 36.81, 36.73, 37.19, 36.86, 36.85,
       36.75, 36.46, 36.43, 36.88, 36.76, 37.46, 37.38, 36.65, 36.91,
       36.84, 38.69, 37.5 , 36.92, 37.57, 37.48, 36.97, 36.93, 37.49,
       37.23, 38.91, 38.94, 38.72, 37.85, 38.96, 38.95, 38.92, 37.04,
       37.47, 38.93, 38.84, 38.9 , 36.9 , 37.51, 38.87, 38.52, 35.91,
       39.26, 38.89, 39.24, 38.86, 38.76, 37.72, 36.95, 38.19, 36.96,
       36.98, 39.25, 39.15, 39.09, 39.01, 41.79, 39.23, 38.8 , 39.92,
       39.4 , 39.37, 39.33, 39.2 , 39.19, 39.17, 39.21, 41.4 , 39.18,
       39.06, 37.93, 36.87, 39.8 , 39.36, 37.69, 39.14, 39.04, 39.32,
       39.28, 39.35, 38.42, 38.07, 40.26, 39.12, 37.84, 38.05, 39.56,
       37.98, 39.67, 38.01, 39.34, 38.04, 38.13, 37.99, 38.31, 38.29,
       38.02, 37.9 , 35.56, 38.71, 37.91, 37.97, 38.25, 38.23, 40.63,
       37.95, 37.86, 36.14, 40.17, 40.98, 39.82, 38.  , 37.96, 38.06,
       37.92, 37.3 , 34.95, 38.33, 37.88, 37.16, 40.38, 34.97, 36.99,
       34.93, 37.28, 37.79, 39.83, 38.15, 38.09, 41.82, 39.78, 39.66,
       39.79, 40.29, 38.75, 38.41, 41.61, 38.46, 38.45, 38.43, 38.12,
       38.48, 40.43, 38.35, 37.43, 35.18, 35.11, 40.37, 39.27, 38.77,
       35.  , 37.59, 37.03, 38.39, 37.41, 40.41, 37.2 , 35.15, 40.42,
       38.5 , 38.28, 35.29, 39.72, 38.61, 38.4 , 40.5 , 35.25, 38.36,
       37.77, 40.36, 40.13, 38.85, 38.73, 38.34, 38.57, 38.38, 37.54,
       39.9 , 39.39, 37.44, 38.65, 38.6 , 38.47, 37.73, 40.65, 37.42,
       38.83, 38.7 , 38.54, 38.24, 37.82, 37.76, 37.53, 38.51, 37.55,
       37.52, 39.02, 38.74, 38.67, 37.05, 38.81, 38.63, 37.07, 37.6 ,
       41.54, 38.37, 38.32, 38.16, 39.3 , 37.45, 39.95, 39.93, 38.2 ,
       37.81, 37.66, 35.69, 40.08, 38.62, 38.11, 40.02, 39.96, 37.74,
       37.67, 37.56, 40.14, 39.22, 39.05, 37.68, 38.79, 37.62, 41.12,
       40.28, 39.08, 38.99, 38.68, 39.13, 39.75, 39.16, 39.  , 38.58,
       37.71, 37.26, 40.51, 38.66, 36.24, 40.35, 39.11, 38.97, 38.14,
       40.23, 39.29, 39.03, 38.98, 38.88, 37.18, 40.85, 40.19, 40.3 ,
       39.48, 39.86, 39.1 , 38.82, 40.25, 38.21, 41.78, 41.31, 39.55,
       37.83, 39.49, 39.43, 38.78, 40.01, 37.87, 40.31, 39.65, 38.64,
       38.22, 40.27, 38.44, 38.59, 38.55, 38.17, 38.1 , 37.89, 38.56,
       38.49, 39.61, 40.82, 39.5 , 41.04, 39.51, 39.52, 39.97, 39.53,
       39.44, 40.06, 39.6 , 39.47, 39.45, 37.08, 39.76, 39.74, 37.01,
       39.77, 39.68, 36.67, 40.92, 40.9 , 37.15, 40.88, 40.89, 40.61,
       37.14, 39.42, 39.41, 39.59, 39.38, 39.88, 41.5 , 37.24, 37.22,
       39.71, 39.73, 40.34, 39.64, 40.69, 40.77, 40.97, 40.52, 41.86,
       38.27, 38.3 , 40.55, 40.95, 40.09, 41.32, 40.05, 40.03, 39.91,
       40.2 , 40.11, 39.94, 38.08, 39.7 , 40.07, 40.18, 40.4 , 40.32,
       40.45, 40.16, 40.66, 40.6 , 41.66, 40.58, 40.53, 40.46, 41.38,
       40.47, 40.44, 40.39, 40.49, 40.71, 40.57, 40.48, 41.21, 41.06,
       40.68, 40.54, 40.62, 40.56, 41.41, 41.43, 40.67, 40.64, 40.59,
       41.81, 41.69, 40.75, 41.74, 41.95, 41.73, 41.72, 41.15, 41.76,
       38.18, 40.93, 40.76, 41.46, 41.7 , 41.48, 40.78, 41.26, 39.31,
       39.07, 39.81, 41.8 , 39.46, 41.6 , 40.22, 40.79, 41.11, 41.3 ,
       40.24, 41.09, 41.03, 40.12, 41.88, 41.68, 40.8 , 40.72, 40.94,
       41.13, 40.86, 40.87, 40.81, 41.36, 40.99, 40.91, 40.73, 41.02,
       41.77, 41.75, 41.84])

To see a list of unique values _and_ how often they occur in the dataset, we can use the `value_counts()` method:

In [ ]:
data.sort_index(axis=0)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
data.latitude.value_counts()

34.06    205
34.08    200
34.05    196
34.07    194
34.04    188
        ...
39.96      1
41.50      1
39.38      1
35.91      1
41.84      1
Name: latitude, Length: 840, dtype: int64

## Maps

A **map** is a term, borrowed from mathematics, for a function that takes one set of values and "maps" them to another set of values. In data science we often have a need for creating new representations from existing data, or for transforming data from the format it is in now to the format that we want it to be in later. Maps are what handle this work, making them extremely important for getting your work done!

There are two mapping methods that you will use often. 

[`map()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.map.html) is the first, and slightly simpler one. For example, suppose that we wanted to remean the scores the wines received to 0. We can do this as follows:

In [ ]:
data.latitude

0        34.19
1        34.40
2        33.69
3        33.64
4        33.57
         ...
16995    40.58
16996    40.69
16997    41.84
16998    41.80
16999    40.54
Name: latitude, Length: 17000, dtype: float64

In [ ]:
latitude_mean = data.latitude.mean()
data.latitude.map(lambda p: p - latitude_mean)

0       -1.435225
1       -1.225225
2       -1.935225
3       -1.985225
4       -2.055225
           ...
16995    4.954775
16996    5.064775
16997    6.214775
16998    6.174775
16999    4.914775
Name: latitude, Length: 17000, dtype: float64

In [ ]:
data.latitude.map(lambda x : x - 1)

0        33.19
1        33.40
2        32.69
3        32.64
4        32.57
         ...
16995    39.58
16996    39.69
16997    40.84
16998    40.80
16999    39.54
Name: latitude, Length: 17000, dtype: float64

In [ ]:
latitude_mean = 4

In [ ]:
def remean_latitude(row):
    row1 = row - latitude_mean
    return row, row1

data.latitude.map(lambda x : remean_latitude(x))

0        (34.19, 30.189999999999998)
1                       (34.4, 30.4)
2        (33.69, 29.689999999999998)
3                     (33.64, 29.64)
4                     (33.57, 29.57)
                    ...
16995                 (40.58, 36.58)
16996                 (40.69, 36.69)
16997                 (41.84, 37.84)
16998                   (41.8, 37.8)
16999                 (40.54, 36.54)
Name: latitude, Length: 17000, dtype: object

# Grouping and Sorting


Maps allow us to transform data in a DataFrame or Series one value at a time for an entire column. However, often we want to group our data, and then do something specific to the group the data is in. 

As you'll learn, we do this with the `groupby()` operation.  We'll also cover some additional topics, such as more complex ways to index your DataFrames, along with how to sort your data.

One function we've been using heavily thus far is the `value_counts()` function. We can replicate what `value_counts()` does by doing the following:

In [ ]:
data.groupby('latitude').latitude.count()

latitude
32.54     1
32.55     3
32.56     9
32.57    13
32.58    20
         ..
41.82     1
41.84     1
41.86     3
41.88     1
41.95     2
Name: latitude, Length: 840, dtype: int64

`groupby()` created a group of data which allotted the same point values to the given wines. Then, for each of these groups, we grabbed the `latitude` column and counted how many times it appeared.  `value_counts()` is just a shortcut to this `groupby()` operation. 

We can use any of the summary functions we've used before with this data. For example, to get the cheapest wine in each point value category, we can do the following:

In [ ]:
data.groupby('latitude').latitude

In [ ]:
data.groupby('latitude').latitude.min()

latitude
32.54    32.54
32.55    32.55
32.56    32.56
32.57    32.57
32.58    32.58
         ...
41.82    41.82
41.84    41.84
41.86    41.86
41.88    41.88
41.95    41.95
Name: latitude, Length: 840, dtype: float64

You can think of each group we generate as being a slice of our DataFrame containing only data with values that match. This DataFrame is accessible to us directly using the `apply()` method, and we can then manipulate the data in any way we see fit. For example, here's one way of selecting the name of the first wine reviewed from each winery in the dataset:

In [ ]:
data.groupby('latitude').apply(lambda df: df.latitude.iloc[0:2])

latitude
32.54     680      32.54
32.55     679      32.55
          796      32.55
32.56     464      32.56
          737      32.56
                   ...
41.86     13341    41.86
          15516    41.86
41.88     16883    41.88
41.95     16497    41.95
          16939    41.95
Name: latitude, Length: 1584, dtype: float64

In [ ]:
dfs = pd.DataFrame()
dfs["country"] = ["togo", "Senegal", "sudan", "tunisia"]
dfs["region"] = ['w', 'w', 'n', 'n']
dfs["pop"] = [1,2,3,4]
dfs

   country region  pop
0     togo      w    1
1  Senegal      w    2
2    sudan      n    3
3  tunisia      n    4

In [ ]:
dfs.groupby('region').apply(lambda df: df.pop.)

ValueError: ignored

Another `groupby()` method worth mentioning is `agg()`, which lets you run a bunch of different functions on your DataFrame simultaneously. For example, we can generate a simple statistical summary of the dataset as follows:

In [ ]:
data.groupby(['latitude']).latitude.agg([len, min, max])

          len    min    max
latitude
32.54       1  32.54  32.54
32.55       3  32.55  32.55
32.56       9  32.56  32.56
32.57      13  32.57  32.57
32.58      20  32.58  32.58
...       ...    ...    ...
41.82       1  41.82  41.82
41.84       1  41.84  41.84
41.86       3  41.86  41.86
41.88       1  41.88  41.88
41.95       2  41.95  41.95

[840 rows x 3 columns]

## Sorting

 
To get data in the order want it in, we can sort it ourselves.  The `sort_values()` method is handy for this.

In [ ]:
latitude_data = data.reset_index()
latitude_data

       index  longitude  ...  median_income  median_house_value
0          0    -114.31  ...         1.4936             66900.0
1          1    -114.47  ...         1.8200             80100.0
2          2    -114.56  ...         1.6509             85700.0
3          3    -114.57  ...         3.1917             73400.0
4          4    -114.57  ...         1.9250             65500.0
...      ...        ...  ...            ...                 ...
16995  16995    -124.26  ...         2.3571            111400.0
16996  16996    -124.27  ...         2.5179             79000.0
16997  16997    -124.30  ...         3.0313            103600.0
16998  16998    -124.30  ...         1.9797             85800.0
16999  16999    -124.35  ...         3.0147             94600.0

[17000 rows x 10 columns]

In [ ]:
latitude_data.sort_values(by="latitude")

       index  longitude  ...  median_income  median_house_value
680      680    -117.04  ...         1.2667             67500.0
796      796    -117.06  ...         1.4384            108800.0
995      995    -117.09  ...         3.9583            144400.0
679      679    -117.04  ...         1.6348             93200.0
1161    1161    -117.12  ...         2.9286            257700.0
...      ...        ...  ...            ...                 ...
15516  15516    -122.33  ...         2.2340             58600.0
16833  16833    -123.26  ...         2.7222             64600.0
16883  16883    -123.83  ...         3.1300            116700.0
16497  16497    -122.64  ...         1.8242             53500.0
16939  16939    -124.14  ...         2.2750            122400.0

[17000 rows x 10 columns]

`sort_values()` defaults to an ascending sort, where the lowest values go first. However, most of the time we want a descending sort, where the higher numbers go first. That goes thusly:

In [ ]:
latitude_data.sort_values(by='latitude', ascending=False)

       index  longitude  ...  median_income  median_house_value
16939  16939    -124.14  ...         2.2750            122400.0
16497  16497    -122.64  ...         1.8242             53500.0
16883  16883    -123.83  ...         3.1300            116700.0
15516  15516    -122.33  ...         2.2340             58600.0
13341  13341    -121.93  ...         1.7400             44000.0
...      ...        ...  ...            ...                 ...
1048    1048    -117.10  ...         3.7500            146800.0
679      679    -117.04  ...         1.6348             93200.0
995      995    -117.09  ...         3.9583            144400.0
796      796    -117.06  ...         1.4384            108800.0
680      680    -117.04  ...         1.2667             67500.0

[17000 rows x 10 columns]

To sort by index values, use the companion method `sort_index()`. This method has the same arguments and default order:

In [ ]:
data.sort_index()

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

Finally, know that you can sort by more than one column at a time:

# Data Types and Missing Values
The data type for a column in a DataFrame or a Series is known as the dtype.

You can use the ``dtype`` property to grab the type of a specific column. For instance, we can get the dtype of the population column in the reviews DataFrame:

In [ ]:
data.population.dtype

dtype('float64')

Alternatively, the ``dtypes`` property returns the dtype of every column in the DataFrame:

In [ ]:
data.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

It's possible to convert a column of one type into another wherever such a conversion makes sense by using the ``astype()`` function. For example, we may transform the points column from its existing ``float64`` data type into a ``int64`` data type:

In [ ]:
data.population.astype('int64')

0        1015
1        1129
2         333
3         515
4         624
         ...
16995     907
16996    1194
16997    1244
16998    1298
16999     806
Name: population, Length: 17000, dtype: int64

A DataFrame or Series index has its own dtype, too:

In [ ]:
data.index.dtype

dtype('int64')

### Detecting null values
Pandas data structures have two useful methods for detecting null data: ``isnull()`` and ``notnull()``.
Either one will return a Boolean mask over the data. For example:

In [ ]:
data = pd.Series([1, np.nan, 'hello', None])
data

0        1
1      NaN
2    hello
3     None
dtype: object

In [ ]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [ ]:
data[data.notnull()]

0        1
2    hello
dtype: object

The ``isnull()`` and ``notnull()`` methods produce similar Boolean results for ``DataFrame``s.

### Dropping null values

In addition to the masking used before, there are the convenience methods, ``dropna()``
(which removes NA values) and ``fillna()`` (which fills in NA values). For a ``Series``,
the result is straightforward:

In [ ]:
data.dropna()

0        1
2    hello
dtype: object

For a ``DataFrame``, there are more options.
Consider the following ``DataFrame``:

In [ ]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

We cannot drop single values from a ``DataFrame``; we can only drop full rows or full columns.
Depending on the application, you might want one or the other, so ``dropna()`` gives a number of options for a ``DataFrame``.

By default, ``dropna()`` will drop all rows in which *any* null value is present:

In [ ]:
df.dropna()

Alternatively, you can drop NA values along a different axis; ``axis=1`` drops all columns containing a null value:

In [ ]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

But this drops some good data as well; you might rather be interested in dropping rows or columns with *all* NA values, or a majority of NA values.
This can be specified through the ``how`` or ``thresh`` parameters, which allow fine control of the number of nulls to allow through.

The default is ``how='any'``, such that any row or column (depending on the ``axis`` keyword) containing a null value will be dropped.
You can also specify ``how='all'``, which will only drop rows/columns that are *all* null values:

In [ ]:
df[3] = np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [ ]:
df.dropna(axis='columns', how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

For finer-grained control, the ``thresh`` parameter lets you specify a minimum number of non-null values for the row/column to be kept:

In [ ]:
df.dropna(axis='rows', thresh=3)

     0    1  2   3
1  2.0  3.0  5 NaN

Here the first and last row have been dropped, because they contain only two non-null values.

### Filling null values

Sometimes rather than dropping NA values, you'd rather replace them with a valid value.
This value might be a single number like zero, or it might be some sort of imputation or interpolation from the good values.
You could do this in-place using the ``isnull()`` method as a mask, but because it is such a common operation Pandas provides the ``fillna()`` method, which returns a copy of the array with the null values replaced.

Consider the following ``Series``:

In [ ]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

We can fill NA entries with a single value, such as zero:

In [ ]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

We can specify a forward-fill to propagate the previous value forward:

In [ ]:
# forward-fill
data.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

Or we can specify a back-fill to propagate the next values backward:

In [ ]:
# back-fill
data.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

For ``DataFrame``s, the options are similar, but we can also specify an ``axis`` along which the fills take place:

In [ ]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [ ]:
df.fillna(method='ffill', axis=1)

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0